html {
    width: 100%;
    margin: 0;
    background-color: rgb(43, 42, 51);
    color: #f5f6f7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
}

h1,
h2,
p {
    text-align: center;
}

h1 {
    color: #d6d3eb;
    font-size: 5.5rem;
}

h2 {
    color: #d6d3eb;
    font-weight: 500;
    font-size: 4rem;
}

p {
    font-size: 2rem;
}

a {
    color: #ACA7CC;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

.template-logo {
    display: block;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    margin: 20px;
}

#logo {
    width: 112px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background: url('/Nerdify/img/logo.png');
}

#logo:hover {
    background: url('/Nerdify/img/logo-white.png');
}

#logo>a {
    display: inline-block;
    width: 100%;
    height: 100%;
}