@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

:root {
    --black-88: #333333;
    --black-80: #1F1F1F;
    --white-80: #CCCCCC;
    /* remove if it used only in photo section */

    --white-90: #F7F7F7;
    --red: #E65F78;
}

*,
::before,
::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black-88);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white-90);
}

h1,
h2 {
    text-align: center;
}

h2 {
    color: #fff;
    font-size: 6.5rem;
    font-weight: 800;
    position: relative;
    margin-top: 12rem;
    margin-bottom: 10.2rem;
}

h2::after {
    width: 6rem;
    height: 0.4rem;
    background-color: var(--red);
    position: absolute;
    content: "";
    top: 100px;
    left: calc(50% - 3rem);
}

h4 {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--red);
    margin: 1.5rem 0;
}

main>* {
    margin: 12rem auto;
}

footer {
    text-align: center;
    line-height: 1.7;
    font-size: 1.6rem;
    width: 100%;
    background-color: var(--black-80);
    padding: 2rem;
    color: #fff
}

footer p {
    margin: 0;
}

header {
    /* position: sticky;
    top: 0; */
    z-index: 1;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 10.5%;
    height: 100px;
    background-color: var(--black-80);
}

#navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

#navbar__menu>li {
    margin-right: 2rem;
    padding: 1rem;
    color: var(--white-90);
}

#navbar__menu>li:last-child {
    margin-left: 1rem;
}

.button {
    padding: 0.8rem 1.4rem !important;
    border-radius: 3px;
    background-color: #e65f78;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.7;
    color: #fff;
}

.red {
    color: var(--red);
}

#home {
    background-color: var(--black-80);
    margin: 0;
}

.title {
    padding: 38.7rem 0 20.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.title h1 {
    font-size: 7.2rem;
    font-weight: 800;
    line-height: 1.1;
    color: #fff;
}

.title h3 {
    font-size: 2.4rem;
    font-weight: 300;
    color: var(--white-90);
}

.my-picture {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: var(--white-80);
    margin-right: 5rem;
    margin-top: 5rem;
}

.arrow {
    display: block;
    margin: 0 auto;
    width: 3.2rem;
    height: 3.2rem;
}

.about-me__text {
    display: flex;
    justify-content: center;
}

.about-me__flex {
    display: flex;
}

.about-me__description {
    max-width: 63.9rem;
}

.about-me__flex-wrapper {
    display: flex;
    justify-content: space-between;
}

.about-me__container {
    width: 27.8rem;
}

.about-me__container:first-child {
    margin-right: 7.5rem;
}

.about-me__picture {
    margin-right: 4.2rem;
    width: 24rem;
    height: 24rem;
}

#about-me p {
    font-size: 1.6rem;
    line-height: 1.7;
    color: #fff;
}

.stats {
    margin: 9rem auto 0;
    padding: 3rem;
    width: 72.2rem;
    height: 17.4rem;
    display: flex;
    justify-content: center;
    /* gap: 75px; */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #1f1f1f;
}

.stats h3 {
    font-size: 6.4rem;
    font-weight: 800;
    margin: 0;
}

.stats p {
    font-size: 2rem;
    font-weight: 400;
    color: var(--white-90);
    margin: 0;
}

.stats .row {
    display: flex;
    flex-direction: column;
    margin-right: 7.5rem;
}

.stats .row:last-child {
    margin-right: 0;
}

.cards {
    width: 92rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 5rem;
}

.cards:last-child {
    margin-bottom: 0;
}

.card {
    width: 43.5rem;
    background-color: var(--black-80);
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#experience h4 {
    margin: 0;
}

.card__name {
    font-size: 1.4rem;
    color: #fff;
    margin: 0.5rem 0 2rem;
}

.card__description {
    font-size: 1.6rem;
    line-height: 1.7;
    color: #fff;
    margin: 0;
}

.portfolio__tags {
    display: flex;
    margin-top: 1.5rem;
}

.portfolio__tag {
    font-size: 1.4rem;
    gap: 10px;
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
    border: solid 1px #fff;
    color: #fff;
    margin-right: 0.9rem;
}

.portfolio__tag:last-child {
    margin-right: 0;
}

#contact img {
    width: 3rem;
}

.contact__status {
    width: 54.4rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin: 10.2rem auto 0;
}

#contact .button {
    display: block;
    width: 14.2rem;
    text-align: center;
    margin: 9rem auto;
}

#contact .links {
    text-align: center;
}

.links a {
    margin: 0 2rem;
}

.links a:first-child {
    margin-left: 0;
}

.links a:last-child {
    margin-right: 0;
}