html {
    width: 100%;
    margin: 0;
    background-color: rgb(43, 42, 51);
    color: #f5f6f7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
}

h1,
h2,
p {
    text-align: center;
}

h1 {
    color: #ACA7CC;
    font-size: 2.5rem;
}

h2 {
    color: #ACA7CC;
    font-weight: 500;
    font-size: 2rem;
}

a {
    color: #ACA7CC;
    text-decoration: none;
}

a:hover {
    color: #6B6980;
}

.template-logo {
    display: block;
    margin: 0 auto;
}