:root {
    --light-gray: color: rgba(227, 228, 230, 0.55);
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Work Sans', sans-serif;
    background-color: #010101;
}

body {
    margin: 0;
    padding: 0;
    color: #e3e4e6;
}

a {
    text-decoration: none;
    color: #e3e4e6;
}


b {
    font-weight: 600;
    color: #fff;
}

h1 {
    font-size: 56px;
    text-align: center;
    margin: 316px auto;
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 34px 112px;
    background-color: #010101;
}

main {
    margin: 0 112px;
}

footer {
    text-align: center;
}

footer>p {
    margin-top: 84px;
    margin-bottom: 45px;
    font-size: 1.8rem;
}

#work {
    font-size: 40px;
}

#works {
    margin: 74px auto;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

#navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__links>a {
    text-transform: uppercase;
    color: #e3e4e6;
    font-size: 1.4rem;
    padding-right: 32px;
    font-weight: 600;
}

.navbar__links>a:last-of-type {
    padding-right: 0;
}

.work-wrapper {
    display: flex;
    margin: 97px 0;
    justify-content: space-between;
}

.work-wrapper:nth-child(2n) {
    flex-direction: row-reverse;
}

.work__description {
    margin-top: 183px;
    margin-left: 32px;
}

.work__description>h6 {
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.64px;
}

.work__description>.work-type {
    font-size: 1.8rem;
}

.main-description {
    font-size: 3.2rem;
}

.light-text {
    font-weight: 300;
    color: var(--light-gray)
}

.btn {
    border-radius: 100px;
    border: 1px solid white;
    padding: 8px 16px;
    letter-spacing: 0.64px;
    font-size: 1.6rem;
    text-transform: uppercase;
    flex-grow: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 8px;

}

.btn:hover {
    animation: expresion 0.3s ease;
    animation-fill-mode: forwards;
}


#about-me {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.about-me__description {
    width: 596px;
}

.about-me__description>h3 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.44px;
    margin-top: 278px;
}

.about-me__gallery {
    width: 596px;
    height: 782px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.about-me__gallery>img:nth-child(1) {
    margin-top: 220px;
}

.about-me__gallery>img:nth-child(2) {
    margin-bottom: 32px;
}

.icons {
    width: 592px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contacts {
    text-align: center;
}

#contacts>h2 {
    font-size: 5.6rem;
}

#contacts>h6 {
    font-size: 1.8rem;
}

@keyframes expresion {
    0% {
        background: linear-gradient(101deg, #bc3cd800 0%, #c54b8c00 107%);
    }

    5% {
        background: linear-gradient(101deg, #bc3cd80C 0%, #c54b8c0C 107%);
    }

    10% {
        background: linear-gradient(101deg, #bc3cd819 0%, #c54b8c19 107%);
    }

    15% {
        background: linear-gradient(101deg, #bc3cd826 0%, #c54b8c26 107%);
    }

    20% {
        background: linear-gradient(101deg, #bc3cd833 0%, #c54b8c33 107%);
    }

    25% {
        background: linear-gradient(101deg, #bc3cd83F 0%, #c54b8c3F 107%);
    }

    30% {
        background: linear-gradient(101deg, #bc3cd84C 0%, #c54b8c4C 107%);
    }

    35% {
        background: linear-gradient(101deg, #bc3cd859 0%, #c54b8c59 107%);
    }

    40% {
        background: linear-gradient(101deg, #bc3cd866 0%, #c54b8c66 107%);
    }

    45% {
        background: linear-gradient(101deg, #bc3cd872 0%, #c54b8c72 107%);
    }

    50% {
        background: linear-gradient(101deg, #bc3cd87F 0%, #c54b8c7F 107%);
    }

    55% {
        background: linear-gradient(101deg, #bc3cd88C 0%, #c54b8c8C 107%);
    }

    60% {
        background: linear-gradient(101deg, #bc3cd899 0%, #c54b8c99 107%);
    }

    65% {
        background: linear-gradient(101deg, #bc3cd8A5 0%, #c54b8cA5 107%);
    }

    70% {
        background: linear-gradient(101deg, #bc3cd8B2 0%, #c54b8cB2 107%);
    }

    75% {
        background: linear-gradient(101deg, #bc3cd8BF 0%, #c54b8cBF 107%);
    }

    80% {
        background: linear-gradient(101deg, #bc3cd8CC 0%, #c54b8cCC 107%);
    }

    85% {
        background: linear-gradient(101deg, #bc3cd8D8 0%, #c54b8cD8 107%);
    }

    90% {
        background: linear-gradient(101deg, #bc3cd8E5 0%, #c54b8cE5 107%);
    }

    95% {
        background: linear-gradient(101deg, #bc3cd8F2 0%, #c54b8cF2 107%);
    }

    100% {
        background: linear-gradient(101deg, #bc3cd8FF 0%, #c54b8cFF 107%);
    }
}