* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

td {
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
}

table {
    background-color: #000;
    margin-right: 20px;
}

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

select {
    font-size: 1.6rem;
}

input {
    margin-left: 10px;
    font-size: 1.6rem;
}

.square {
    background-color: #eeeeee;
    width: 200px;
    height: 200px;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 900px) {
    h2 {
        display: inline-block;
        margin: 5px;
    }

    table {
        margin: 0 2px;
    }
}

@media only screen and (max-width: 670px) {
    table {
        width: 100%;
    }

    .square {
        width: 32vw;
        height: 32vw;
    }

    img {
        width: 25vw;
        height: 25vw;
    }
}