body {
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.2rem;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

input,
textarea,
select {
    font-size: 1.2rem;
}

fieldset {
    border: 3px dashed rgb(124, 121, 140);
    margin: 0.7em auto;
    display: inline-block;
}

legend {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"] {
    margin: 0 0 1.5em 0;
}

input[type=radio],
input[type=checkbox] {
    border: 0px;
    width: 1rem;
    height: 1rem;
}

input[type="submit"] {
    margin-bottom: 2em;
}

textarea {
    width: 30em;
    margin: 0.5em auto;
    display: block;
}

.first-name {
    width: 45%;
}

.second-name {
    width: 55%;
}

.name {
    display: block;
    text-align: start;
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.photo-button {
    font-weight: 900;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 650px) {
    .wrapper {
        flex-direction: column;
    }

    .first-name {
        width: 100%;
    }

    .second-name {
        width: 100%;
    }

    #email {
        width: 100%;
    }

    input[type="text"],
    input[type="email"] {
        margin: 0 0 1rem 0;
    }

    #dropdown {
        display: block;
        width: 100%;
        margin-bottom: 8px;
    }

    textarea {
        width: 95%;
    }

    #submit {
        font-size: 1.4rem;
        padding: 0.4rem 1rem;
    }
}