@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

:root {
    --black-88: #333333;
    --black-80: #1F1F1F;
    --white-90: #F7F7F7;
    --red: #E65F78;
}

*,
::before,
::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black-88);
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: var(--white-90);
}

label,
input {
    font-size: 2rem;
    color: var(--white-90);
}

input {
    background-color: var(--black-88);
    width: 400px;
    font-size: 2rem;
    border: 0;
    border-bottom: 1px solid #aaaaaa;
}

label,
input[type="button"] {
    display: block;
    margin: 20px auto;
    text-align: center;
}

input[type="button"] {
    border-radius: 20px;
    border: 1px solid #aaaaaa;
}

input[type="button"]:hover {
    color: #000;
    background-color: #aaaaaa;
}

#target_base,
#source_base {
    width: 7rem;
}

input:focus {
    outline: 0 none;
    background-color: var(--black-88);
    border-bottom: 1px solid #fff;
}

@media only screen and (max-width: 550px) {

    h1 {
        margin: 1rem;
    }

    input[type="text"] {
        width: 100%;
    }
}