<!DOCTYPE html>
<html lang="UTF-8">

<head>
    <meta charset="UTF-8">
    <title>Nerdify</title>
    <!-- Link to template https://www.figma.com/file/tDV3iDhQRol6qFjtrw4vl8/Nerdify?node-id=0%3A1&t=5nvGgXLbUZGwLfgR-0 -->
    <link rel="stylesheet" href="style/styles.css">
    <link rel="stylesheet" href="style/icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
</head>

<body>
    <img class="background" src="img/header.png" alt="background">
    <div class="wrapper">
        <div class="header">
            <div class="header-navbar">
                <a href="#"><img class="logo" src="img/logo.png" alt=""></a>
                <ul class="header-navbar__menu">
                    <li class="header-navbar__menu-item"><a href="#">How it works</a></li>
                    <li class="header-navbar__menu-item"><a href="#">Benefits</a></li>
                    <li class="header-navbar__menu-item"><a href="#">Pricing</a></li>
                </ul>
            </div>
            <div class="header-body">
                <div class="header-body__text">
                    <h1 class="header-body__title">
                        Get a custom-made video solution for your study problem
                    </h1>
                    <p class="header-body__desc">
                        An expert tutor will record a step by step<br>
                        explanation for your request
                    </p>
                    <a href="#" class="btn btn-dark">
                        Subscribe Now
                    </a>
                </div>
                <img src="img/phone.png" alt="">
            </div>
        </div>
        <div class="light-section">
            <p class="section-label">Our tutors can help with 35+ subjects!</p>
            <ul class="section-category-list">
                <li><a class="section-category" href="#">Mathematics</a></li>
                <li><a class="section-category" href="#">Physics</a></li>
                <li><a class="section-category" href="#">Chemistry</a></li>
                <li><a class="section-category" href="#">Biology</a></li>
                <li><a class="section-category" href="#">Accounting</a></li>
                <li><a class="section-category" href="#">Finance</a></li>
                <li><a class="section-category" href="#">Economics</a></li>
                <li><a class="section-category" href="#">Geography</a></li>
                <li><a class="section-category" href="#">History</a></li>
            </ul>
            <div class="section-title">
                <h3 class="section-title__part">As simple as TikTok</h3>
                <h3 class="section-title__part">and cheaper than</h3>
                <h3 class="section-title__part">a tutoring session</h3>
            </div>
            <img class="phone-2" src="img/phone-2.png" alt="phone-2">
            <div class="cards">
                <div class="card">
                    <p class="circle-number circle-number-dark">1</p>
                    <p class="card-description card-description-1">Send your problem: take a photo, copy & paste
                        instructions or attach
                        files.</p>
                    <img class="arrow-1" src="img/arrow-1.png" alt="arrow-1">
                </div>

                <div class="card card-right">
                    <p class="circle-number circle-number-dark">2</p>
                    <p class="card-description card-description-2">Get a video with a solution explained in details
                        within an hour!</p>
                    <img class="arrow-2" src="img/arrow-2.png" alt="arrow-2">
                </div>

                <div class="card">
                    <p class="circle-number circle-number-dark">3</p>
                    <p class="card-description card-description-3">Chat with your tutor for the next 24 hours to clarify
                        any questions.</p>
                    <img class="arrow-3" src="img/arrow-3.png" alt="arrow-3">
                </div>
            </div>
            <h2 class="features-title">Better than anything you've tried before</h2>
            <div class="features">
                <div class="feature">
                    <div class="feature__icon"><span class="material-icons">bolt</span></div>
                    <h3 class="feature__title">Faster</h3>
                    <p class="feature__description">No need to schedule and wait for live sessions with tutors.</p>
                </div>
                <div class="feature">
                    <div class="feature__icon"><span class="material-icons">wallet</span></div>
                    <h3 class="feature__title">Cheaper</h3>
                    <p class="feature__description">No need to pay for the whole hour to understand a small problem.</p>
                </div>
                <div class="feature">
                    <div class="feature__icon"><span class="material-icons">chat</span></div>
                    <h3 class="feature__title">At hand</h3>
                    <p class="feature__description">Get back to the video any time and chat with a tutor on the go.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-section">
        <div class="wrapper">
            <div class="section-title gray-section-title_no-margin">
                <h3 class="section-title__part section-title-margin1">Submit as many problems as you need.</h3>
            </div>
            <div class="section-title gray-section-title">
                <h3 class="section-title__part">Your tutor will record</h3>
                <h3 class="section-title__part">a separate explanation</h3>
                <h3 class="section-title__part">for each!</h3>
            </div>
            <ul class="checkmark-panel">
                <li class="checkmark-item-group">
                    <span class="material-icons">offline_pin</span>
                    Up to 10-minute long video<br>
                    <span class="material-icons">offline_pin</span>
                    Step by step problem solving
                </li>
                <li class="checkmark-item-group">
                    <span class="material-icons">offline_pin</span>
                    Done on digital whiteboard<br>
                    <span class="material-icons">offline_pin</span>
                    Voice comments from a tutor
                </li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="section-title green-section-title">
            <h3 class="section-title__part green-section-title__part">178 tutors</h3>
            <h3 class="section-title__part">are online now and ready to help you ASAP!</h3>
        </div>
        <p class="section-label green-section-label">Tap to see our tutors in action!</p>
        <ul class="video-gallery">
            <li class="video-gallery_element">
                <p class="video-gallery_video-title">Statistics</p>
                <img src="img/video-1.png" alt="video" srcset="">
            </li>
            <li class="video-gallery_element">
                <p class="video-gallery_video-title">Chemistry</p>
                <img src="img/video-2.png" alt="video" srcset="">
            </li>
            <li class="video-gallery_element">
                <p class="video-gallery_video-title">Economics</p>
                <img src="img/video-3.png" alt="video" srcset="">
            </li>
        </ul>
    </div>
    <div class="blue-section">
        <div class="wrapper">
            <div class="section-title">
                <h3 class="section-title__part blue-section-title__part">Choose your plan</h3>
            </div>
            <div class="whitecards">
                <div class="white-card">
                    <p class="whitecard-title">Basic - $49/mo</p>
                    <p class="whitecard-description">15 problems/mo included</p>
                    <p class="whitecard-description">Then: $5/problem</p>
                    <p class="whitecard-description">Private chat with tutor</p>
                    <p class="whitecard-description">Unlimited access 24/7</p>
                    <a href="#" class="btn btn-dark btn1">Subscribe Now</a>
                </div>
                <div class="white-card">
                    <p class="whitecard-title">Pro - $99/mo</p>
                    <p class="whitecard-description">35 problems/mo included</p>
                    <p class="whitecard-description">Then: $4/problem</p>
                    <p class="whitecard-description">Private chat with tutor</p>
                    <p class="whitecard-description">Unlimited access 24/7</p>
                    <a href="#" class="btn btn-dark btn1">Subscribe Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="section-title">
            <h3 class="section-title__part fag-section-title__part">FAQ</h3>
        </div>
        <ul class="plusmark-panel">
            <li class="plusmark-item-group">
                <span class="material-icons">add_circle_outline</span>
                How it works?
            </li>
            <li class="plusmark-item-group">
                <span class="material-icons">add_circle_outline</span>
                How do I cancel my subscription?
            </li>
            <li class="plusmark-item-group">
                <span class="material-icons">add_circle_outline</span>
                Can I submit more than 1 problem at once?
            </li>
        </ul>

        <div class="footer">
            <div class="header-navbar">
                <a href="#"><img class="logo" src="img/logo.png" alt=""></a>
                <ul class="header-navbar__menu">
                    <li class="header-navbar__menu-item"><a href="#">Privacy Policy</a></li>
                    <li class="header-navbar__menu-item"><a href="#">Terms&Conditions</a></li>
                    <li class="header-navbar__menu-item"><a href="#">Refund Policy</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>